<!--Lightning seems to use the Use tag and it causes CORS issues from inside OBI. Pls see https://css-tricks.com/svg-use-external-source/-->
<!--utility sprite-->
<ng-include src="'http://localhost:3000/app/chatter/chatter-cell-dialog/utility-sprite.html'">
</ng-include>

<!--doctype sprite-->
<ng-include src="'http://localhost:3000/app/chatter/chatter-cell-dialog/doctype-sprite.html'">
</ng-include>


<!--<md-dialog aria-label="Chatter" flex="50" flex-sm="80">
	<form>-->
<!--
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>BI Chatter</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">clear</i>
        </md-button>
      </div>
    </md-toolbar>
-->


<!--<md-dialog-content class="biview chatter-dialog-content">

      <div class="md-dialog-content">

        <chatter-feed feed-context="dialogCtrl.feedContext">
        </chatter-feed>

      </div>

    </md-dialog-content>-->

<!--<div class="md-dialog-container" style="height: 100%;z-index:6001">-->
<md-dialog style="max-height:100%;min-width:40%;">
	<md-toolbar style="background-color:white;">
		<div class="md-toolbar-tools">
			<h3>
				<span>Chatter Feed</span>
			</h3>
			<!-- Spacer element -->
			<span style="visibility: hidden;flex-grow:1"></span>
			<!--<md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">clear</i>
        </md-button>-->
			<md-button class="md-icon-button" ng-click="dialogCtrl.answer('Done')" aria-label="Close">
				<md-icon style="color:lightgrey" md-font-icon="fa fa-close fa-2x"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content style="overflow:auto" class="md-padding">
		<chatter-feed feed-context="dialogCtrl.feedContext" feed-mode="'cell'">
		</chatter-feed>

	</md-dialog-content>
	<!--
		<md-dialog-actions class="chatter-dialog-actions" layout="row">
			<md-button href="https://en.wikipedia.org/wiki/Conversation" target="_blank" md-autofocus>
				Help: How do I start a Chatter Conversation?
			</md-button>
			<span flex></span>
			<md-button ng-click="dialogCtrl.answer('Done')" style="margin-right:20px;">
				OK
			</md-button>
		</md-dialog-actions>-->
	<!--</form>-->
</md-dialog>
<!--</div>-->