<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*nps*" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="http://localhost:9200/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
