
// @import "bower_components/angular-material/angular-material.scss";
// /*@import "vendor-components/saleforce-lightning-design-system-scoped/scss/index-scoped.scss";*/
// @import "bower_components/font-awesome/scss/font-awesome.scss";


.chatter-topics {

  margin-bottom: 20px;

}


.chatter-topics .md-menu {

  padding: 0px;

}

/*************ng-Animate classes BEGIN****************/


.chatter-topics.ng-move,
.chatter-topics.ng-enter,
.chatter-topics.ng-leave,
.chatter-comments.ng-move,
.chatter-comments.ng-enter,
.chatter-comments.ng-leave {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.chatter-topics.ng-leave.ng-leave-active,
.chatter-topics.ng-move,
.chatter-topics.ng-enter,
.chatter-comments.ng-leave.ng-leave-active,
.chatter-comments.ng-move,
.chatter-comments.ng-enter {
  opacity: 0;
}

.chatter-topics.ng-leave,
.chatter-topics.ng-move.ng-move-active,
.chatter-topics.ng-enter.ng-enter-active,
.chatter-comments.ng-leave,
.chatter-comments.ng-move.ng-move-active,
.chatter-comments.ng-enter.ng-enter-active {
  opacity: 1;
}



/*************ng-Animate classes END****************/



.slds-comment__replies .slds-comment__content{

background-color: #ededed;

}

.chatter-new-topic {
  border: 1px solid rgb(216, 221, 230);
  display: block;
  margin-bottom: 20px;
}

.chatter-new-topic .md-tab {
  text-transform: none
}

.chatter-new-topic .slds-is-active .share-button {
  margin-top: 10px;
}
/*

.slds-comment__replies .slds-comment {

  background-color: #f1f1f1;
  padding: 3px !important;
  border: 2px solid white;

}

*/


.bic-cell-badge-container {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 6px 7px; /* Add some padding so it looks nice */
}


/* Make the badge float in the top right corner of the button */
.bic-cell-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}


.ns-popover-list-theme{

z-index: 99999 !important;

}


.editor {
	overflow: auto;
  min-height: 140px;
}

.menu-highlighted {
    font-weight: bold;
}

 .mentio-user-search {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
    background-color: white;
    list-style-type:none;
}




.mentio-user-search:hover {
    cursor: pointer;
}



.mentio-user-search .list-group-item.active {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.mentio-user-search .list-group-item.active .text-muted {
    color: #ccc;
}

.mentio-user-search .list-group-item.active .text-primary {
    color: #fff;
}

.mentio-user-search .list-group-item {
    padding: 5px;
}

.mentio-user-search .user-photo {
    max-width: 30px;
    max-height: 30px;
    border-radius: 15px;
}


.mentio-scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
}
