<div class="slds-media slds-comment slds-hint-parent">
	<div class="slds-media__figure">
		<div class="slds-avatar slds-avatar--circle slds-avatar--medium">
			<a href="javascript:void(0)" title="Jason Rodgers">
				<img src="//localhost:3000/assets/images/avatars/avatar3.jpg" alt="Jason Rodgers" />
			</a>
		</div>
	</div>
	<div class="slds-media__body">
		<div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
			<p class="slds-truncate"><a href="javascript:void(0)" title="Developer">Project EU</a> - <a href="javascript:void(0)" title="Girish Lakshmanan">Girish Lakshmanan</a>
				<span am-time-ago="chatterTopicCtrl.topicData.updatedAt"></span>
			</p>
			<!--<button class="slds-button slds-button--icon-container" title="settings">
						<svg aria-hidden="true" class="slds-button__icon">
							<use xlink:href="#settings"></use>
						</svg>
						<span class="slds-assistive-text">Settings</span>
					</button>-->
			<div class="slds-grid slds-grid--align-end">
				<md-menu md-position-mode="target-right target">
					<button ng-click="$mdOpenMenu($event)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-shrink-none">
               <svg aria-hidden="true"
                  class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                  <use xlink:href="#down"></use>
               </svg>
               <span class="slds-assistive-text">Show More</span>
            </button>
					<md-menu-content width="2">
						<md-menu-item>
							<md-button ng-click="chatterTopicCtrl.topicData.remove()"><span md-menu-align-target="">Delete</span>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>


			</div>
		</div>
		<div class="slds-comment__content slds-text-longform">
			<p>{{chatterTopicCtrl.topicData.text}}</p>
		</div>
	</div>
</div>
<chatter-comments comments="chatterTopicCtrl.topicData.comments" topic-id="chatterTopicCtrl.topicData.id"></chatter-comments>