<!--Lightning seems to use the Use tag and it causes CORS issues from inside OBI. Pls see https://css-tricks.com/svg-use-external-source/-->
<!--utility sprite-->
<ng-include src="'http://localhost:3000/app/chatter/chatter-cell-dialog/utility-sprite.html'">
</ng-include>

<!--doctype sprite-->
<ng-include src="'http://localhost:3000/app/chatter/chatter-cell-dialog/doctype-sprite.html'">
</ng-include>

<md-sidenav sidenav-push-in class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-disable-backdrop="true">

	<md-toolbar class="md-theme-light" style="background-color:transparent!important;">
		<div class="md-toolbar-tools">
			<md-button ng-click="sideNavCtrl.close()" class="md-icon-button" aria-label="exit_chatter">
				<md-icon md-font-icon="fa fa-sign-out fa-2x" style="color:black"></md-icon>
			</md-button>

			<h2>
				<span>Dashboard Chatter Feed</span>
			</h2>
			<span flex></span>
		</div>
	</md-toolbar>
	<md-content layout-padding="" style="padding:30px;" class="biview">
		<!--    <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput" ng-model="data" md-sidenav-focus="">
          </md-input-container>
        </form>-->


		<chatter-feed feed-context="sideNavCtrl.feedContext">
		</chatter-feed>


	</md-content>

</md-sidenav>