  .obiSideNavButton {
    position: fixed;
    bottom: 2%;
    right: 2%;
  }

  .obiSideNavButton .material-icons{
    vertical-align: middle;
  }

  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 30% !important;
    max-width: 30% !important;
  }

  // .md-sidenav-push-in .md-sidenav-push-in-target {
  //   transform: translate(0px);
  //   transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  // }

  // .md-sidenav-push-in.md-sidenav-right-open .md-sidenav-push-in-target {
  //   margin-right: 30%
  // }




  /*to show main content while sidebar is visible*/
  md-backdrop {
    background-color: transparent !important;
  }

  md-backdrop.md-sidenav-backdrop {
    display: none;
  }

  /* To Fix defect where the vertical line connecting comments vanished after css transitions*/
  md-content.md-default-theme, md-content {
    background-color: transparent;
  }

/*.bic-progress-circle{

  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}*/



/* Styles go here */

#plz_wait md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-top-color: white;
}
#plz_wait md-progress-circular.md-default-theme .md-inner .md-gap, md-progress-circular .md-inner .md-gap {
    border-top-color: white;
    border-bottom-color: white;
}
#plz_wait md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle {
    border-left-color: white;
}
#plz_wait md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle {
    border-left-color: white;
}
#plz_wait md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-right-color: white;
}


// .bic {

//   @import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// }




