<div>
   <div ng-if="true" class="slds-popover slds-nubbin--left" style="width:3.5rem;z-index:70;" role="dialog">
      <div class="slds-popover__body">
         <button ng-click="showChatterDialog($event)" class="slds-button slds-button--icon" title="Comments">
            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
               <use xlink:href="#comments"></use>
            </svg>
            <span class="slds-assistive-text">Comments</span>
         </button>
      </div>
   </div>
   <div>
      <div ng-if="false" class="slds-popover slds-nubbin--left" style="width:13.5rem;z-index:70;" role="dialog">
         <div class="slds-popover__body">
            <button ng-click="showChatterDialog($event)" class="slds-button slds-button--icon" title="Comments">
               <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
                  <use xlink:href="#comments"></use>
               </svg>
               <span class="slds-assistive-text">Comments</span>
            </button>
            <span>Girish {{cellPopoverCtrl.topics | json}}</span>
         </div>
      </div>
   </div>
</div>