<span ng-if='!cellPopoverCtrl.topicsCache.hasPinnedTopics' ng-transclude ns-popover-group='cell-buttons' ns-popover ns-popover-template='http://localhost:3000/app/chatter/chatter-cell-popover/chatter-cell-popover-button.html'
    ns-popover-hide-on-outside-click='false' ns-popover-timeout='1.5' ns-popover-trigger='mouseover' ns-popover-placement='right|center'
    ns-popover-theme='slds'>
</span>
<span ng-if='cellPopoverCtrl.topicsCache.hasPinnedTopics' ng-transclude ns-popover ns-popover-template='http://localhost:3000/app/chatter/chatter-cell-popover/chatter-cell-popover-pinned.html'
    ns-popover-hide-on-outside-click='false' ns-popover-timeout='-1' ns-popover-trigger='mouseover' ns-popover-placement='right|center'
    ns-popover-theme='slds'>
</span>